<div class="bg-primary text-white py-2">
 <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
  <div class="d-flex align-items-center mb-2 mb-md-0"><i class="bi bi-envelope me-2"></i><small class="me-4">info@gatikotto.com</small><i class="bi bi-phone me-2"></i><small>+91-8448864776</small></div>
   <div><small>Gatikotto | Specializing in high-performance suspension systems.</small></div>
  </div>
</div>
 <header>
   <nav class="navbar navbar-expand-lg navbar-light px-4">
        <a class="navbar-brand" href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/logo/logo1.png' | relative_url }}" alt="Logo of Gatikotto" width="250px" height="70px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse px-4" id="navbarNav">
                 <ul class="navbar-nav ms-auto">
                   <li class="nav-item"><a class="nav-link animate__animated animate__fadeInDown animate__delay-1s fs-4" href="/">Home</a></li>
                   <!-- <li class="nav-item"><a class="nav-link animate__animated animate__fadeInDown animate__delay-1s fs-4" href="/our-customer">Customers</a></li> -->
                   <li class="nav-item"><a class="nav-link animate__animated animate__fadeInDown animate__delay-1s fs-4" href="/products">Products</a></li>
                   <li class="nav-item"><a class="nav-link animate__animated animate__fadeInDown animate__delay-1s fs-4" href="/about-us">About</a></li>
                   <li class="nav-item"><a class="nav-link animate__animated animate__fadeInDown animate__delay-1s fs-4" href="/contact-us">Contact</a></li>
                 </ul>
<a class="navbar-brand" href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/stromax.jpg' | relative_url }}" alt="Logo of stromax" width="70px" height="70px"></a>
                </div>
        </nav>
    </header>
